<%= link_to 'Back', pins_path %>

<div class="row">
	<div class="col-md-offset-2 col-md-8">
		<div class="panel panel-default">
			<div class="panel-heading center">
				<%= image_tag @pin.image.url(:x_large) %>
			</div>
			<div class="panel-body">
				<p><%= @pin.description %></p>
				<p><strong><%= @pin.user.name if @pin.user %></strong></p>

				<% if @pin.user == current_user %>
          <%= link_to edit_pin_path(@pin) do %>
            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit
          <% end %>
				<% end %>
			</div>

			<div class="comment-section panel-footer">
			  <%= form_tag create_comment_path, method: "post" do %>
			    <%= hidden_field_tag "id", @pin.id %>
			    
			    <div class="form-group">
			    	<%= text_area_tag :comment, nil, class: "form-control" %>
			    </div>

			    <div class="form-group align-right">
			    	<%= submit_tag "Comment", class: "btn btn-primary" %>
			    </div>
			  <% end %>

			  <div class="comment_list">
				  <% @comments.each do |comment| %>
				    <%= comment.comment %> <br>
				    <%= comment.user.name %> <br>
				   <% end %>
				</div>
			</div>
			
		</div>
	</div>
</div>